<div class="singlePro">
  <h1>{{name}}</h1><br/>
  <img class= "img-circle" src="{{image}}"><h1>{{alias}}</h1>
  <h4>{{votes}}</h4>
</div>

<!-- <button>
  <h1>{{name}}</h1>
  <img class= "img-circle" src="{{image}}">

</button>
 -->
