<<<<<<< HEAD
<div class="singlePro">
  <h1>{{name}}</h1><br/>
  <img class= "img-circle" src="{{image}}"><h1>{{alias}}</h1>
</div>
=======
<button>
  <h1>{{name}}</h1>
  <img class= "img-circle" src="{{image}}">
  <h1>{{alias}}</h1>
  <h4>{{votes}}</h4>
</button>
>>>>>>> 7f5d0f2bab0367895c4819259e49fe8be73a9f26
