<div class="heros">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <h2>{{name}}</h2>
  <h3>{{alias}}</h3>
  <div>Superpower: {{superpower}}</div>
  <div>Back Story: {{backStory}}</div>
  <button>Vote</button>
</div>