<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Team-Unicorn</title>
    <link rel="stylesheet" href="../public/main.css">
  </head>
  <body>
    <div class= 'app'>
      <h1 class= 'title'>Battle of Miromiro Alter Egos</h1>
      <a class = 'nav' href="/">home<a/>
        {{{body}}}
    </div>

    <div class="heros">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <h2>{{name}}</h2>
  <h3>{{alias}}</h3>
  <div>Superpower: {{superpower}}</div>
  <div>Back Story: {{back story}}</div>
  <a href="/battels/{{id}}">Edit</a>
</div>



  </body>
</html>
